li {
    border: seagreen;
    border-radius: 20px;
    border-style: groove;
  }

  h1 {
    text-align: center;
  }
  
  #greet{
    border-style: solid;
    border: sienna;
    border-radius: 20px;
    padding: 15px;
  }